body {
    background-color: whitesmoke;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    padding-left: 90px;
    padding-right: 90px;
    
}

nav ul {
    list-style-type: none;
    overflow: hidden;
    margin: 0%;
    padding: 0;
    display: table;
    background-color: #FBC232;
    width: 100%;
    opacity: 100%;
    
}

nav li {
    display: table-cell;

    
}

li a {
    display: block;
	color: white;
	text-align: center;
	padding: 30px 30px;
    text-decoration: none;
    
}

li a:hover {
    background-color: orange;
}

header h1 {
   font-size: 60px; 
   text-align: left;
   font-family: 'Raleway', sans-serif;
   padding-left: 200px;
   text-decoration: underline;
   text-decoration-color: #ff944d;
   text-decoration-thickness: 3px;
}

header p {
    padding-left: 90px;
    padding-right: 90px;
}




#blog h3 {
    font-size: 45px;
    text-decoration: underline;
    text-decoration-color: #ff944d;
    text-decoration-thickness: 3px;
}

#big {
    font-size: 27px;
    padding-left: 270px;
    padding-right: 270px; 
}

#thin {
    font-size: 24px;
    padding-left: 270px;
    padding-right: 270px;
    font-weight: bold;
}

figure h4 {
    font-size: 30px;
    text-align: left;
    padding-left: 370px;
    text-decoration: underline;
    text-decoration-color: #ff944d;
    text-decoration-thickness: 3px;


}

#scuba-diving-picture {
    border: solid orange 2px;
}